---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=limeblast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="b39e6f7bcef9e9081a6973515c6dcf85",
        oauth_signature="Reekhe1OkpY2%2BMvPBZ%2B2v%2BF3OKY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424377820", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 19 Feb 2015 20:30:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5e09815faf1855137fa710750f0f7dbc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1424378638'
      X-Response-Time:
      - '141'
      X-Transaction:
      - b0900332c99113c7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Feb 19 17:49:39 +0000 2015","id":568467463756746752,"id_str":"568467463756746752","text":"@skinofstars
        @BBCRadio4 my desire has originated from my love of @themonkeycage podcast.","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":568467011715670016,"in_reply_to_status_id_str":"568467011715670016","in_reply_to_user_id":17063890,"in_reply_to_user_id_str":"17063890","in_reply_to_screen_name":"skinofstars","user":{"id":14409502,"id_str":"14409502","name":"Daniel
        Hollands","screen_name":"LimeBlast","location":"Royal Leamington Spa","profile_location":null,"description":"A
        jack-of-all-trades web developer trying his best to keep up to date with everything
        the Web has to offer.","url":"http:\/\/t.co\/Wg8eLBDBrG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Wg8eLBDBrG","expanded_url":"http:\/\/limeblast.co.uk\/","display_url":"limeblast.co.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":253,"friends_count":132,"listed_count":14,"created_at":"Wed
        Apr 16 16:04:32 +0000 2008","favourites_count":146,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":false,"statuses_count":8306,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14409502\/1414401840","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"skinofstars","name":"Kevin
        Carmody","id":17063890,"id_str":"17063890","indices":[0,12]},{"screen_name":"BBCRadio4","name":"BBC
        Radio 4","id":23937508,"id_str":"23937508","indices":[13,23]},{"screen_name":"themonkeycage","name":"Infinite
        Monkey Cage","id":85544492,"id_str":"85544492","indices":[65,79]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Feb 19 17:31:09 +0000 2015","id":568462806909124608,"id_str":"568462806909124608","text":"I''m
        a little concerned that I''m becoming middle aged - I feel like I should be
        listening to @BBCRadio4","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"i[...]
