---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=limeblast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="k1xAkSV7wHQx6fvioI9cIvyTW", oauth_nonce="784e6992afee91d8bb12c4aff474c858",
        oauth_signature="ZT0op6CCIAhWV%2BSm3kFlfG%2BqAWs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424289254", oauth_token="2165087958-igdBFUzugKOzUT2sNH2QQefpy7wMD6Ptacc447K",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 18 Feb 2015 19:54:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b67bb184c2e3250feaca48e4bb1140f3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1424290154'
      X-Response-Time:
      - '145'
      X-Transaction:
      - f90ca54a01f019ef
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Feb 18 17:16:44 +0000 2015","id":568096792006561792,"id_str":"568096792006561792","text":"@CosRyan
        sir, I am enjoying me some A Trick of the Tail.","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":24925566,"in_reply_to_user_id_str":"24925566","in_reply_to_screen_name":"CosRyan","user":{"id":14409502,"id_str":"14409502","name":"Daniel
        Hollands","screen_name":"LimeBlast","location":"Royal Leamington Spa","profile_location":null,"description":"A
        jack-of-all-trades web developer trying his best to keep up to date with everything
        the Web has to offer.","url":"http:\/\/t.co\/Wg8eLBDBrG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Wg8eLBDBrG","expanded_url":"http:\/\/limeblast.co.uk\/","display_url":"limeblast.co.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":254,"friends_count":132,"listed_count":14,"created_at":"Wed
        Apr 16 16:04:32 +0000 2008","favourites_count":144,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":false,"statuses_count":8289,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/477396178208702465\/36_7U_s4_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14409502\/1414401840","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"CosRyan","name":"Cos
        Ryan","id":24925566,"id_str":"24925566","indices":[0,8]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Feb 18 16:51:21 +0000 2015","id":568090403813138432,"id_str":"568090403813138432","text":"Apparently,
        I''m the reason Britain isn''t \"Great\" any longer - good to know.","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":n[...]
